.login{
    text-align: center;
}
.login button{
    margin-top: 250px;
    border: none;
    background-color:#25eca9;
    padding: 10px 30px;
    border-radius: 7px;
    cursor: pointer;
    outline-width: 0;
}